.header-categories {
    margin-left: auto;
    margin-right: auto;
}

.header-category a {
    color: black; /* Đổi màu chữ thành đen */
    text-decoration: none; /* Loại bỏ gạch chân */
}

.header-category a:hover {
    color: blue; /* Đổi màu chữ thành xanh khi hover */
}

.header-category ul.custom-scroll-list li:hover {
    color: blue; /* Đổi màu chữ của các lựa chọn trong danh sách thành xanh khi hover */
}

.brand-heading {
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 2px;
    background-image: linear-gradient(90deg, #9a221a, #d86710);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}