.card-title {
    text-decoration: none;
    color: inherit;
}

.card-title:hover {
    color: #007bff;
}

.card-title {
    /* Đặt lại các thuộc tính nếu cần */
    white-space: normal; /* Cho phép title xuống dòng */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
